#ProjectsCon .projectLeft #projectImgSelection .projectSelect:hover, #ProjectsCon .projectRight #projectDetailContain .projectActualDetail, .bodyContainerItem {
  -webkit-box-shadow: 30px 38px 69px 0px rgba(0, 0, 0, 0.29);
  -moz-box-shadow: 30px 38px 69px 0px rgba(0, 0, 0, 0.29);
  box-shadow: 30px 38px 69px 0px rgba(0, 0, 0, 0.29); }

@font-face {
  font-family: Blockletter;
  src: url("/css/Fonts/Blockletter.otf"); }

#ProjectsCon .projectLeft #projectImgSelection .projectSelect:hover, #ProjectsCon .projectRight #projectDetailContain .projectActualDetail, .bodyContainerItem {
  -webkit-box-shadow: 30px 38px 69px 0px rgba(0, 0, 0, 0.29);
  -moz-box-shadow: 30px 38px 69px 0px rgba(0, 0, 0, 0.29);
  box-shadow: 30px 38px 69px 0px rgba(0, 0, 0, 0.29); }

@font-face {
  font-family: Blockletter;
  src: url("/css/Fonts/Blockletter.otf"); }

#TitleCard {
  border: 1px none;
  padding: 0;
  color: #D6D6D6;
  background: #252529; }

#TitleCard #titleCardBG {
  background: url(/images/backgrounds/houston/baseBG.jpg) no-repeat;
  background-position: center !important;
  background-size: 100% 100% !important; }

#TitleCard #titleCardContent {
  padding: 0; }

#TitleCard #titleCardContent .titleCardLogo {
  font-size: 12em;
  margin: 0 !important; }

#TitleCard #titleCardContent .titleCardName {
  float: right;
  text-align: right; }

#TitleCard #titleCardContent .titleCardName .titleName {
  font-size: 3em; }

#TitleCard #titleCardContent .titleCardName .titlePosition {
  font-size: 2em; }

@media (max-width: 990px) {
  #TitleCard #titleCardBG {
    height: 70%; }
  #TitleCard .titleCardLogo {
    font-size: 8em !important; } }

@media (max-width: 500px) {
  #TitleCard #titleCardBG {
    height: 70%; }
  #TitleCard .titleCardLogo {
    font-size: 4em !important; }
  #TitleCard .titleCardName {
    font-size: 10px !important; } }

@media (min-width: 1200px) {
  #TitleCard #titleCardBG {
    height: 80%; } }

#ProjectsCon .projectLeft #projectImgSelection .projectSelect:hover, #ProjectsCon .projectRight #projectDetailContain .projectActualDetail, .bodyContainerItem {
  -webkit-box-shadow: 30px 38px 69px 0px rgba(0, 0, 0, 0.29);
  -moz-box-shadow: 30px 38px 69px 0px rgba(0, 0, 0, 0.29);
  box-shadow: 30px 38px 69px 0px rgba(0, 0, 0, 0.29); }

@font-face {
  font-family: Blockletter;
  src: url("/css/Fonts/Blockletter.otf"); }

#PersonDetail #personalValkContainer, #PersonDetail #personalInfo {
  height: 100%; }

#PersonDetail #personalValkContainer {
  position: absolute;
  padding: 0; }

#PersonDetail #personalValkContainer .personalValk {
  height: 100%;
  background: url(/images/backgrounds/houston/layer3BG.png) no-repeat;
  background-size: 173% 103%;
  position: relative;
  top: 0px; }

#PersonDetail #personalInfo {
  float: right; }

#PersonDetail #personalInfo .personalInfoContent {
  border-left: 3px solid #81818A;
  height: 33%;
  float: right;
  font-size: 1.5em; }

#PersonDetail #personalInfo .personalInfoContent .personalTopContent {
  margin-bottom: 5%;
  margin-top: 3%;
  float: left; }

#PersonDetail #personalInfo .personalInfoContent .personalPic {
  height: 100%;
  float: right;
  margin: 0;
  background: url(/images/face.png) no-repeat;
  background-size: cover !important; }

#PersonDetail #personalInfo .personalInfoContent .personalContact {
  font-size: 0.7em;
  height: 40%;
  float: left; }

#PersonDetail #personalInfo .personalInfoContent .personalContact * {
  padding: 0; }

#PersonDetail #personalInfo .personalInfoContent .personalContact .contacts {
  height: 100%;
  text-align: center;
  color: #81818A; }

#PersonDetail #personalInfo .personalInfoContent .personalContact .contacts .conImg {
  height: 82%;
  background-size: 43% 50% !important;
  /* Default for min-width: 1200px */
  background-position: center !important; }

#PersonDetail #personalInfo .personalInfoContent .personalContact .contacts:hover {
  background: #81818A;
  cursor: pointer;
  color: #252529; }

#PersonDetail #personalInfo .personalInfoMid .skills {
  height: 20%;
  margin: 2% 0%;
  padding: 0; }

#PersonDetail #personalInfo .personalInfoMid .skills .skillName {
  padding: 0; }

#PersonDetail #personalInfo .personalInfoMid .skills .skillCon {
  padding: 0;
  height: 20%;
  border-right: 3px solid #81818A; }

#PersonDetail #personalInfo .personalInfoMid .skills .skillCon .skillLvl {
  padding: 0;
  height: 100%;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#252529+0,d6d6d6+100 */
  background: #252529;
  /* Old browsers */
  background: -moz-linear-gradient(left, #252529 0%, #d6d6d6 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #252529 0%, #d6d6d6 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #252529 0%, #d6d6d6 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#252529', endColorstr='#d6d6d6',GradientType=1 );
  /* IE6-9 */ }

#PersonDetail #personalInfo .personalInfoMid .skills:nth-child(even) {
  float: right; }

#PersonDetail #personalInfo .personalInfoMid .skills:nth-child(odd) {
  float: left; }

#PersonDetail #personalInfo #personalInfoBtm {
  padding-top: 4%; }

#PersonDetail #personalInfo #personalInfoBtm .workExp > div, #PersonDetail #personalInfo #personalInfoBtm .workExp > ul {
  padding: 0; }

#PersonDetail #personalInfo #personalInfoBtm .workExp .workPos, #PersonDetail #personalInfo #personalInfoBtm .workExp .workDate {
  font-size: 14px; }

#PersonDetail #personalInfo #personalInfoBtm .workExp .workCon .duty {
  font-size: 12px;
  padding: 0; }

@media (max-width: 500px) {
  #PersonDetail .personalInfoTop .personalInnerText {
    font-size: 14px !important; }
  #PersonDetail .personalInfoTop .personalContact {
    height: 30% !important; }
  #PersonDetail .skillName {
    font-size: 11px; } }

@media (min-width: 500px) and (max-width: 990px) {
  #PersonDetail #personalInfo .personalInfoContent {
    height: 25%;
    border: 1px none !important; }
  #PersonDetail #personalInfo .personalInfoContent .personalTopContent {
    margin-bottom: 0%; }
  #PersonDetail #personalInfo .personalInfoContent .personalTopContent .personalInnerText {
    font-size: 16px; }
  #PersonDetail #personalInfo .personalInfoContent .personalPic {
    background-size: 60% 80% !important;
    background-position: center !important; }
  #PersonDetail #personalInfo .personalInfoBtm .workExp {
    min-height: 182px; } }

#ProjectsCon .projectLeft #projectImgSelection .projectSelect:hover, #ProjectsCon .projectRight #projectDetailContain .projectActualDetail, .bodyContainerItem {
  -webkit-box-shadow: 30px 38px 69px 0px rgba(0, 0, 0, 0.29);
  -moz-box-shadow: 30px 38px 69px 0px rgba(0, 0, 0, 0.29);
  box-shadow: 30px 38px 69px 0px rgba(0, 0, 0, 0.29); }

@font-face {
  font-family: Blockletter;
  src: url("/css/Fonts/Blockletter.otf"); }

#ProjectsCon .projectConItem {
  height: 100%; }

#ProjectsCon .projectLeft #projectImgView {
  height: 50%;
  background-size: cover !important; }

#ProjectsCon .projectLeft #projectImgSelection {
  height: 50%;
  padding-top: 2%; }

#ProjectsCon .projectLeft #projectImgSelection .projectSelect {
  height: 50%;
  transition: all 0.5s ease; }

#ProjectsCon .projectLeft #projectImgSelection .projectSelect .projectContainImg {
  height: 100%;
  background-size: 80% 80% !important;
  background-position: center !important; }

#ProjectsCon .projectLeft #projectImgSelection .projectSelect:hover {
  background: #81818A;
  cursor: pointer; }

#ProjectsCon .projectLeft #projectImgSelection .projectSelect:hover .projectContainImg {
  background-size: 90% 90% !important; }

#ProjectsCon .projectRight #projectDetailContain {
  margin-top: 5%;
  position: relative;
  z-index: 10; }

#ProjectsCon .projectRight #projectDetailContain .projectActualDetail {
  background: #252529;
  border-left: 5px solid #81818A;
  padding: 3% 0; }

#ProjectsCon .projectRight #projectDetailContain .projectActualDetail .projectName {
  font-size: 40px; }

#ProjectsCon .projectRight #projectDetailContain .projectActualDetail .projectFramework {
  background: #81818A;
  color: #252529;
  font-size: 20px; }

#ProjectsCon .projectRight #projectDetailContain .projectActualDetail .projLink {
  transition: all 0.3s ease;
  text-decoration: none !important;
  font-size: 20px; }

#ProjectsCon .projectRight #projectDetailContain .projectActualDetail .projLink .projectLink {
  padding: 0 3px;
  color: #81818A !important; }

#ProjectsCon .projectRight #projectDetailContain .projectActualDetail .projLink:hover {
  background: #81818A; }

#ProjectsCon .projectRight #projectDetailContain .projectActualDetail .projLink:hover .projectLink {
  color: #252529 !important; }

#ProjectsCon .projectRight #projectDetailContain .projectActualDetail ul {
  list-style: none; }

#ProjectsCon .projectRight #projectDetailContain .projectActualDetail ul li {
  padding: 1% 0;
  display: flex;
  align-items: center;
  font-size: 17px; }

#ProjectsCon .projectRight .ironMan {
  background: url(/images/backgrounds/ironman/newIronman.png) no-repeat;
  background-size: 100% 100% !important;
  height: 60%;
  position: relative;
  z-index: 5; }

@media (min-width: 500px) and (max-width: 990px) {
  #ProjectsCon .projectConItem {
    height: 50%; }
  #ProjectsCon .projectConItem #projectImgView {
    height: 79%; } }

@media (max-width: 500px) {
  #ProjectsCon {
    border: 5px solid white; } }

body {
  background: #252529;
  padding: 2%;
  font-family: Blockletter; }

.bodyContainerItem {
  margin-bottom: 5%;
  background: #252529;
  color: #D6D6D6;
  overflow: hidden; }

@media (min-width: 1200px) {
  .bodyContainerItem {
    height: 93vh; } }

@media (min-width: 500px) and (max-width: 990px) {
  .bodyContainerItem {
    height: 80vh; } }

@media (max-width: 500px) {
  .bodyContainerItem {
    height: 95vh; }
  #PersonDetail {
    height: 120vh; } }
