@font-face {
  font-family: Blockletter;
  src: url("/css/Fonts/Blockletter.otf"); }

#PersonDetail #personalValkContainer, #PersonDetail #personalInfo {
  height: 100%; }

#PersonDetail #personalValkContainer {
  position: absolute;
  padding: 0; }

#PersonDetail #personalValkContainer .personalValk {
  height: 100%;
  background: url(/images/backgrounds/houston/layer3BG.png) no-repeat;
  background-size: 173% 103%;
  position: relative;
  top: 0px; }

#PersonDetail #personalInfo {
  float: right; }

#PersonDetail #personalInfo .personalInfoContent {
  border-left: 3px solid #81818A;
  height: 33%;
  float: right;
  font-size: 1.5em; }

#PersonDetail #personalInfo .personalInfoContent .personalTopContent {
  margin-bottom: 5%;
  margin-top: 3%;
  float: left; }

#PersonDetail #personalInfo .personalInfoContent .personalPic {
  height: 100%;
  float: right;
  margin: 0;
  background: url(/images/face.png) no-repeat;
  background-size: cover !important; }

#PersonDetail #personalInfo .personalInfoContent .personalContact {
  font-size: 0.7em;
  height: 40%;
  float: left; }

#PersonDetail #personalInfo .personalInfoContent .personalContact * {
  padding: 0; }

#PersonDetail #personalInfo .personalInfoContent .personalContact .contacts {
  height: 100%;
  text-align: center;
  color: #81818A; }

#PersonDetail #personalInfo .personalInfoContent .personalContact .contacts .conImg {
  height: 82%;
  background-size: 43% 50% !important;
  /* Default for min-width: 1200px */
  background-position: center !important; }

#PersonDetail #personalInfo .personalInfoContent .personalContact .contacts:hover {
  background: #81818A;
  cursor: pointer;
  color: #252529; }

#PersonDetail #personalInfo .personalInfoMid .skills {
  height: 20%;
  margin: 2% 0%;
  padding: 0; }

#PersonDetail #personalInfo .personalInfoMid .skills .skillName {
  padding: 0; }

#PersonDetail #personalInfo .personalInfoMid .skills .skillCon {
  padding: 0;
  height: 20%;
  border-right: 3px solid #81818A; }

#PersonDetail #personalInfo .personalInfoMid .skills .skillCon .skillLvl {
  padding: 0;
  height: 100%;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#252529+0,d6d6d6+100 */
  background: #252529;
  /* Old browsers */
  background: -moz-linear-gradient(left, #252529 0%, #d6d6d6 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #252529 0%, #d6d6d6 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #252529 0%, #d6d6d6 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#252529', endColorstr='#d6d6d6',GradientType=1 );
  /* IE6-9 */ }

#PersonDetail #personalInfo .personalInfoMid .skills:nth-child(even) {
  float: right; }

#PersonDetail #personalInfo .personalInfoMid .skills:nth-child(odd) {
  float: left; }

#PersonDetail #personalInfo #personalInfoBtm {
  padding-top: 4%; }

#PersonDetail #personalInfo #personalInfoBtm .workExp > .workName, #PersonDetail #personalInfo #personalInfoBtm .workExp > ul {
  padding: 0; }

#PersonDetail #personalInfo #personalInfoBtm .workExp .workPos, #PersonDetail #personalInfo #personalInfoBtm .workExp .workDate {
  font-size: 14px; }

#PersonDetail #personalInfo #personalInfoBtm .workExp .workCon .duty {
  font-size: 12px;
  padding: 0; }

.activeMobile {
  background: #81818A;
  color: #252529; }

@media (max-width: 500px) {
  #PersonDetail #personalInfo {
    padding: 0; }
  #PersonDetail #personalInfo .personalInfoContent {
    border: 1px none !important;
    padding: 0 !important; }
  #PersonDetail .personalInfoTop {
    height: 26% !important; }
  #PersonDetail .personalInfoTop .personalInnerText {
    font-size: 14px !important; }
  #PersonDetail .personalInfoTop .personalContact {
    height: 38% !important; }
  #PersonDetail .personalInfoMid {
    height: 39% !important; }
  #PersonDetail .personalInfoMid .skills {
    height: 13% !important; }
  #PersonDetail .personalInfoMid .skills .skillName {
    font-size: 16px; }
  #PersonDetail .personalInfoBtm {
    padding: 0; }
  #PersonDetail .personalInfoBtm .workExp {
    padding: 0; }
  #PersonDetail .personalInfoBtm .workMoName {
    display: flex;
    height: 9vh;
    align-items: center; }
  #PersonDetail .personalInfoBtm .workMoContain {
    background: #81818A;
    color: #252529; }
  #PersonDetail .personalInfoBtm .workMoContain .workMobile {
    padding-top: 10px; }
  #PersonDetail .personalInfoBtm .workMoContain .workMobile > div {
    padding: 0; }
  #PersonDetail .personalInfoBtm .workMoContain .workMobile .workMoInName {
    font-size: 30px; }
  #PersonDetail .personalInfoBtm .workMoContain .workCon {
    padding: 0 0 0 15px;
    font-size: 17px; }
  #PersonDetail .personalInfoBtm .workMoContain .workCon li {
    padding: 0; } }

@media (min-width: 500px) and (max-width: 990px) {
  #PersonDetail #personalInfo .personalInfoContent {
    height: 25%;
    border: 1px none !important; }
  #PersonDetail #personalInfo .personalInfoContent .personalTopContent {
    margin-bottom: 0%; }
  #PersonDetail #personalInfo .personalInfoContent .personalTopContent .personalInnerText {
    font-size: 16px; }
  #PersonDetail #personalInfo .personalInfoContent .personalPic {
    background-size: 60% 80% !important;
    background-position: center !important; }
  #PersonDetail #personalInfo .personalInfoBtm .workExp {
    min-height: 182px; } }
